<%-include('y_headerGlobal');-%>
<h1 class="topSpacer"><p></p>.</h1>
<h4 class="topSpacer"><p></p>.</h4>

<h3>
  <b>List of All Bodyshells</b>:
</h3>
<p></p>

<% bodyshells.forEach((bodyshell) => { %>
<div>
  <span>
    <b>Cover <%= bodyshell.id %></b>）
  </span>
  <span>
   TYPE <%= bodyshell.bodyshell_type_id %>
  </span>
  <span>
  | <%= bodyshell.brand %>
  </span>
  <span>
   <%= bodyshell.name %>
  </span>
  <span>
  | <%= bodyshell.bs_model %>(<%= bodyshell.variant %>)
  </span>
</div>
<% }); %>  


<%-include('z_footerGlobal')-%>