<%-include('y_headerGlobal');-%>
<h1 class="topSpacer"><p></p>.</h1>
<h4 class="topSpacer"><p></p>.</h4>

<h3>
  <b>List of All Chassis:</b>
</h3>
<p></p>

<% platforms.forEach((platform) => { %>
<div>
  <span>
    <b>Platform <%= platform.id %></b>）
  </span>
  <span>
   TYPE <%= platform.platform_type_id %>
  </span>
  <span>
   | <%= platform.brand %>
  </span>
  <span>
    <%= platform.name %>
  </span>
  <span>
   | (<%= platform.model %>)
  </span>
</div>
<% }); %>  


<%-include('z_footerGlobal')-%>