<%-include('y_headerGlobal');-%>
<h1 class="topSpacer"><p></p>.</h1>
<h4 class="topSpacer"><p></p>.</h4>

<h3><b>SetupSheet ID:</b> <%= index %></h3>


<div><b>Driver/Mechanic: </b><%= driverName %></div>
<div><b>Chassis brand:</b> <%= platformBrand %></div>
<div><b>Chassis name:</b> <%= platformName  %></div>
<div><b>Model No.:</b> <%= model  %></div>
<div><b>Bodyshell brand:</b> <%= bsBrand %></div>
<div><b>Bodyshell name:</b> <%= bsName  %></div>
<div><b>Bodyshell variant:</b> <%= bsVariant %></div>
<div><b>Event:</b> <%= eventName %></div>
<div><b>Track Name:</b> <%= track %></div>
<div><b>Track surface:</b> <%= surface  %></div>
<div><b>Track Layout type:</b> <%= layout  %></div>
<div><b>Direction:</b> <%= direction %></div>
<div><b>Laps Counted:</b> <%= lapCount %> </div>
<div><b>Total Time ( mins : s : ms):</b> <%= totalTime%> </div>
<div><b>Motor Size:</b> <%= motor %></div>
<div><b>Turns:</b> <%= turns %>T</div>
<div><b>Electronic Speed Controller (ESC) Size:</b> <%= escSize %></div>
<div><b>ESC Setting:</b> <%= escSetting  %></div>
<div><b>Final Drive Ratio (FDR):</b> <%= fdr  %></div>
<div><b>Tire Brand:</b> <%= tireBrand %></div>
<div><b>Front Tire Hardness (Shore):</b> <%= tiresFrntShore  %></div>
<div><b>Rear Tire Hardness (Shore):</b> <%= tiresRearShore %></div>
<div><b>Front Differential (Diff.) TYPE:</b> <%= diffFrntType %></div>
<div><b>Front Diff. Oil Weight/Viscosity (cP/ct):</b> <%= diffFrntOil  %></div>
<div><b>Rear Differential (Diff.) TYPE:</b> <%= diffRearType %></div>
<div><b>Rear Diff. Oil Weight/Viscosity (cP/ct):</b> <%= diffRearOil %></div>
<div><b>Weight Distribution FRONT:</b> <%= wtFrnt %>%</div>
<div><b>Weight Distribution REAR:</b> <%= wtRear %>%</div>
<div><b>Weight Distribution LEFT:</b> <%= wtLft %>%</div>
<div><b>Weight Distribution RIGHT:</b> <%= wtRht %>%</div>
<div><b>Weight Distribution FRRL:</b> <%= wtFRRL %>%</div>
<div><b>Weight Distribution FLRR:</b> <%= wtFLRR %>%</div>
<div><b>Front Ride Height:</b> <%= rideHtFrnt %> mm</div>
<div><b>Rear Ride Height:</b> <%= rideHtRear %> mm</div>
<div><b>Front Shockbody on Shock Tower Position:</b> <%= susFrntTopPos %> hole</div>
<div><b>Front Piston Arm on Swing Arm Position:</b> <%= susFrntBtnPos %> hole</div>
<div><b>Rear Shockbody on Shock Tower Position:</b> <%= susRearTopPos  %> hole </div>
<div><b>Rear Piston Arm on Swing Arm Position:</b> <%= susRearBtnPos %> hole</div>
<div><b>Front Shockbody Piston Setting:</b> <%=  susFrntPistHoles %> holes</div>
<div><b>Rear Shockbody Piston Setting:</b> <%= susRearPistHoles %> holes</div>
<div><b>Front Suspension Spring Stiffness:</b> <%= susFrntSpring %></div>
<div><b>Rear Suspension Spring Stiffness:</b> <%= susRearSpring %></div>
<div><b>Front Suspension Oil Weight(viscosity)(cP/ct):</b> <%= susFrntOil %></div>
<div><b>Rear Suspension Oil Weight(viscosity)(cP/ct) :</b> <%= susRearOil %></div>
<div><b>Front Suspension Rebound Setting:</b> <%=  susFrntRebound %></div>
<div><b>Rear Suspension Rebound Setting:</b> <%= susRearRebound %></div>
<div><b>Front Wheel Camber:</b> <%= camberFrnt %> deg</div>
<div><b>Rear Wheel Camber:</b> <%= camberRear %> deg</div>
<div><b>Front Wheel Hub Caster:</b> <%= casterFrnt %> deg</div>
<div><b>Front Toe (Toe-Out) :</b> <%= toeFrnt %> deg</div>
<div><b>Rear Toe (Toe-In)  :</b> <%= toeRear %> deg</div>
<div><b>Front Anti-Roll Bar Thickness:</b> <%= antiRollFrnt %> deg</div>
<div><b>Rear Anti-Roll Bar Thickness:</b> <%= antiRollRear %> deg</div>

<%-include('z_footerGlobal')-%>