<%-include('y_headerGlobal');-%>
<h1 class="topSpacer"><p></p>.</h1>
<h4 class="topSpacer"><p></p>.</h4>

<h4>
  <b><u>SetupSheet #<%= index %></u></b>
</h4>
<div>
  <form action="/setup/<%= index %>/edit" method="GET">  
    <button type="submit" class="btn-sm">EDIT Setup <%= index %> </button>
  </form>
</div>
<p></p>
<div><b>Setup Name:</b> '<u><%= setupName %></u>'</div>
<p></p>
<div><b>Setup Mechanic:</b> <%= creator %></div>
<p></p>
<div><b><u>CHASSIS:</u></b> <%= platformBrand %> <%= platformName  %>(<%= model  %>)</div>
<p></p>
<div>
<b><u>MOTOR</u></b>
<div><b>Size:</b> <%= motor %></div>
<div><b>Number of Turns:</b> <%= turns %></div>
</div>
<p></p>
<div>
  <b><u>ELECTRONIC SPEED CONTROLLER (ESC)</u></b>  
  <div> 
    <b>Max Continuous Current Rating: </b><%= escSize %>
  </div>
  <div> 
    <b>ESC Setting Constraints: </b><%= escSetting  %>
  </div>
</div>
<p></p>
<div>
  <b><u>FINAL DRIVE RATIO (FDR):</u></b> <%= fdr  %>
</div>
<p></p>
<div>
  <b><u>TIRES</u></b>
  <div><b>Brand: </b><%= tireBrand %></div>
  <div><b>Front Tire Shore (hardness): </b><%= tiresFrntShore  %></div>
  <div><b>Rear Tire Shore (hardness): </b><%= tiresRearShore %></div>
</div>
<p></p>
<div>
  <b><u>FRONT DIFFERENTIAL(Diff.):</u></b>
  <div>
     <b>Diff. Type: </b><%= diffFrntType %>
  </div>
  <div>
     <b>Diff. Oil Weight/Viscosity (cP/ct): </b><%= diffFrntOil  %>
  </div>
</div>
<p></p>
<div>
  <b><u>Rear Differntial (Diff.) Setup</u></b>
  <div>
    <b>Diff. TYPE: </b><%= diffRearType %>
  </div>
  <div>
    <b>Diff. Oil Weight/Viscosity (cP/ct): </b><%= diffRearOil %>
  </div>
</div>
<p></p>
<div>
  <b><u>WEIGHT DISTRIBUTION</u></b>
  <div><b> FRONT:</b> <%= wtFrnt %>%</div>
  <div><b> REAR:</b> <%= wtRear %>%</div>
  <div><b> LEFT:</b> <%= wtLft %>%</div>
  <div><b> RIGHT:</b> <%= wtRht %>%</div>
  <div><b> FRRL:</b> <%= wtFRRL %>%</div>
  <div><b> FLRR:</b> <%= wtFLRR %>%</div>
</div>
<p></p>

<div>
  <b><u>RIDE HEIGHT</u></b>
  <div>
    <b>Front Ride Height:</b> <%= rideHtFrnt %> mm
  </div>
  <div>
    <b>Rear Ride Height:</b> <%= rideHtRear %> mm
  </div>
</div>
<p></p>
<div>
  <b><u>SUSPENSION:</u> FRONT</b>
  <div>
    <b>Front Shockbody on Shock Tower Position: </b><%= susFrntTopPos %> mounting hole
  </div>
  <div>
    <b>Front Piston Arm on Swing Arm Position: </b><%= susFrntBtnPos %> mounting hole
  </div>
  <div>
    <b>Front Shockbody Piston Setting: </b><%=  susFrntPistHoles %> holes
  </div>
  <div>
    <b>Front Spring Stiffness: </b><%= susFrntSpring %>
  </div>
  <div>
    <b>Front Susp. Oil Weight(viscosity)(cP/ct): </b><%= susFrntOil %>
  </div>
  <div>
    <b>Front Susp. Rebound Setting: </b><%=  susFrntRebound %>
  </div>
</div>
<p></p>
<div>
  <b><u>SUSPENSION:</u> REAR</b>
  <div>
    <b>Rear Shockbody on Shock Tower Position: </b><%= susRearTopPos  %> mounting hole
  </div>
  <div>
    <b>Rear Piston Arm on Swing Arm Position: </b><%= susRearBtnPos %> mounting hole
  </div>
  <div>
    <b>Rear Shockbody Piston Setting: </b><%= susRearPistHoles %> holes
  </div>
  <div>
    <b>Rear Spring Stiffness: </b><%= susRearSpring %>
  </div>
  <div>
    <b>Rear Susp. Oil Weight(viscosity)(cP/ct) : </b><%= susRearOil %>
  </div>
  <div>
    <b>Rear Susp. Rebound Setting: </b><%= susRearRebound %>
  </div>
</div>
<p></p>
<div>
  <b><u>CASTER SETTINGS:</u></b>
  <div>
    <b>Front Caster:</b> <%= casterFrnt %> deg
  </div>
</div>
<p></p>
<div>
  <b><u>CAMBER SETTINGS:</u></b>
  <div>
    <b>Front Wheel Camber:</b> <%= camberFrnt %> deg
  </div>
  <div>
    <b>Rear Wheel Camber:</b> <%= camberRear %> deg
  </div>
</div>
<p></p>
<div>
  <b><u>CAMBER SETTINGS:</u></b>
  <div>
    <b>Front Toe (Toe-Out) :</b> <%= toeFrnt %> deg
  </div>
  <div>
    <b>Rear Toe (Toe-In)  :</b> <%= toeRear %> deg
  </div>
</div>
<p></p>

<div>
   <b><u>ANTI-ROLL BAR</b> (<b>ARS, Stabiliser</b>):</u>
  <div>
    <b>Front Anti-Roll Bar Thickness:</b> <%= antiRollFrnt %> deg
  </div>
  <div>
    <b>Rear Anti-Roll Bar Thickness:</b> <%= antiRollRear %> deg
  </div>
</div>

<%-include('z_footerGlobal')-%>