<%-include('y_headerGlobal');-%>
<h1 class="topSpacer"><p></p>.</h1>
<h4 class="topSpacer"><p></p>.</h4>

<h3>All Track Times</h3>


<% tracktimes.forEach((tracktimes) => { %>
<h4><b><u>TrackTime ID</u></b>: <%= tracktimes.tracktimes_id %></h4>
<div>
  <form action="/tracktime/<%= tracktimes.tracktimes_id %>/edit" method="GET">  
    <button type="submit" class="btn-sm">EDIT Tracktime <%= tracktimes.tracktimes_id %> </button>
  </form>
</div>
<p></p>
<div>
  <div>
    <b>Date</b>: <%= tracktimes.date %>    
  </div>
  <div>
    <b>Event</b>: <%= tracktimes.event_name %>
  </div>
  <div>
    <b>Track Name</b>: <%= tracktimes.track_name %>
  </div>
  <div>
     <b>Direction</b>: <%= tracktimes.direction %>
  </div>
  <div>
     | <b>Driver</b>: <%= tracktimes.user_name %>
  </div>
  <div>
    <div>
      | <b>Laps Completed</b>: <%= tracktimes.lapcount %>
    </div>
    <div>
  |   <b>Total Time</b>: <%= tracktimes.total_time %>
    </div>         
  </div>
  <div>
    <div>
      <b>Platform Type</b>: <%= tracktimes.type_name %>
    </div>
    <div>
      <b>Chassis</b>: <%= tracktimes.platform_brand %> <%= tracktimes.platform_name %> (<%= tracktimes.platform_model %>) 
    </div>
    <div>
      <b>Chassis Setup:</b>[<%= tracktimes.setup_id %>-<%= tracktimes.setup_name %>]
    </div>
  </div>
  <div>
    <div>
      <b>Bodyshell</b>: <%= tracktimes.bodyshell_brand %> <%= tracktimes.bodyshell_name %> (<%= tracktimes.bodyshell_variant %>)  
  </div>             
</div>
<p></p>

  <div>
    <form action="/tracktime/<%= tracktimes.tracktimes_id %>?_method=DELETE" method="POST">  
    <button type="submit" class="btn-sm">DELETE Tracktime <%= tracktimes.tracktimes_id %> </button>
    </form>  
  </div>
<p></p>
<hr/>  
<% }); %>  
<%-include('z_footerGlobal')-%>